# Database Settings
DB_NAME=portfolio_db
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=3306

# Cloudinary Settings
CLOUDINARY_CLOUD_NAME=mock_cloud_name
CLOUDINARY_API_KEY=mock_api_key
CLOUDINARY_API_SECRET=mock_api_secret

# OAuth Configurations (used by django-allauth)
# Add these via the Django Admin Panel or directly in the SocialApp model
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GITHUB_CLIENT_ID=
# GITHUB_CLIENT_SECRET=

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Django Secret Key
SECRET_KEY=your_django_secret_key_here
